@use "./utils/colors" as colors;

.blue-text {
  color: colors.$lightblue;
}

.container-fluid {
  z-index: 5;
  transition: background-color 300ms linear;
}

.container {
  text-align: center;
}

.shadow-bg {
  background-color: colors.$shadow-bg;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$overlay;
  z-index: -1;
}

.section-title {
  padding-bottom: .25em;
  font-size: 2.2rem;
  font-family: "Primary-semibold";
  text-align: center;
  text-transform: uppercase;
}

.section-underline {
  margin: 0 auto 1.5em;
  width: 60px;
  height: 4px;
  background-color: colors.$lightblue;

  &.has-overlay {
    background-color: colors.$light;
  }
}