:root {
  --white: #FFF;
  --black: #000;
  --gray: #4E4E4E;
  --new: #e07a64;
  --grayish-blue: #405d78;
  box-sizing: border-box;
  color: var(--white);
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.side-to-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav,
footer {
  background-color: var(--gray);
  color: var(--white);
}

.page-header {
  height: 50px;
}

.company-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

.navbar-links {
  display: none;
}

.navbar-links li,
.social-links li {
  list-style: none;
}

.navbar-links a,
.social-links a {
  text-decoration: none;
  color: var(--white);
  padding: 10px;
  transition: all 0.25s linear;
}

.navbar-links a[disabled] {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.3);
}

.navbar-toggler {
  padding: 0;
  position: absolute;
  right: 16px;
  background-color: var(--gray);
  display: block;
  width: 50px;
  height: 45px;
  border: none;
  outline: none;
}

.navbar-toggler > div {
  width: 100%;
  height: 5px;
  background-color: var(--white);
  border-radius: 10px;
  margin: 8px 0;
}

.outer-background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 50px);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.inner-background {
  width: 100%;
}

.promo {
  font-size: 36px;
  font-weight: bold;
}

.incentive {
  font-size: 18px;
  color: var(--white);
  margin: 30px 0;
}

.inner-background a {
  display: block;
  width: 160px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
  color: var(--white);
  border: 3px solid var(--white);
  transition: all .25s linear;
}

.company-staff_intro,
.services_intro {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.company-staff_intro {
  color: var(--grayish-blue);
}

.flex {
  display: flex;
  flex-direction: column;
}

.portfolio-description {
  margin: 20px;
}

.employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-size: 18px;
  color: var(--black);
}

.staff-member-image {
  background-position: center;
  background-size: cover;
  height: 197px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.img-first {
  background-image: url("https://randomuser.me/api/portraits/women/43.jpg");  
} 

.img-second {
  background-image: url("https://randomuser.me/api/portraits/men/72.jpg");  
} 

.services--container {
  background-color: var(--grayish-blue);
}

.services_intro {
  color: var(--white);
  margin-bottom: 50px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.service--tile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  width: calc(100% - 120px);
  aspect-ratio: 1;
  transition: transform .25s linear;
}

.service--tile span {
  position: absolute;
  left: -30px;
  top: 10px;
  background-color: var(--new);
  color: var(--white);
  transform: rotate(-45deg);
  width: 100px;
  text-align: center;
}

.service--tile:first-of-type {
  flex-direction: column;
  border: 4px solid var(--new);
  overflow: hidden;
}

.service-heading {
  text-align: center;
  font-size: 24px;
}

.info--small {
  font-size: 16px;
}

.page-footer {
  height: 150px;
  font-size: 18px;
  flex-direction: column;
  justify-content: center;
}
.social-links {
  margin: 0;
  padding: 0;
  display: flex;
}
.fa-brands {
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 94%;
  }
  .inner-background {
    width: 100%;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-links {
    display: flex;
  }
  .inner-background {
    width: 50%;
  }
  .company-staff_intro,
  .services_intro {
    text-align: left;
    margin-left: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 60px;
    justify-content: center;
  }
  .service--tile {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
  .navbar-links a:not([disabled]):hover, .inner-background a:hover {
    background-color: var(--white);
    color: var(--black);
  }
  .employee-container {
    font-size: 16px;
    font-weight: normal;
  }
  .employee-container h4 {
    font-weight: bold;
  }
  .employee-container:nth-of-type(odd) {
    flex-direction: row;
  }
  .employee-container:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .employee-container:nth-of-type(even) p,
  .employee-container:nth-of-type(even) h4 {
    text-align: right;
  }
  .employee-container:nth-of-type(odd) p,
  .employee-container:nth-of-type(odd) h4 {
    text-align: left;
  }
  .company-staff_intro,
  .services_intro {
    margin-left: 0;
  }
  .grid {
    grid-template-columns: repeat(3, 200px);
  }
  .service-heading {
    font-weight: bold;
  }
  .service--tile:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .fa-instagram:hover {
    color: #feda75;
  }
  .fa-square-facebook:hover {
    color: #3b5998;
  }
  .fa-twitter:hover {
    color: #00acee;
  }
  .fa-youtube:hover {
    color: #c6302b;
  }
  .side-to-side {
    flex-direction: row;
    justify-content: space-between;
  }
  .page-footer {
    height: 50px;
  }
}
