@use "../utils/colors" as colors;

.about {
  overflow-x: hidden;

  i {
    margin: 1em 0 .5em;
    font-size: 30px;
  }

  &__card {
    &-title {
      margin-bottom: .5em; // 9.5px
      font-size: 1.9rem; // 19px
    }

    &-description {
      font-size: 1.4rem;
    }
  }

  @media (hover: hover) {
    .text-hover-primary:hover {
      color: var(--bs-primary);
    }
  }
}

.platforms {
  position: relative;
  background-image: url("../assets/images/woman-mobile.jpg");
  background-position: top center;
  background-size: cover;
  color: colors.$light;
  z-index: 0;

  &__title {
    margin-bottom: .5em;
    font-size: 24px;
  }

  &__description {
    margin-top: .5em;
  }

  i {
    font-size: 36px;
  }
}