@use "../utils/colors" as colors;
@use "../utils/mixins" as mixins;

.hero {
  position: relative;
  height: 100vh;
  background-image: url("../../assets/images/hero-image-mobile.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 0;

  &_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: colors.$light;

    &-header {
      font-size: 2rem;
      font-family: "Primary-medium";
      text-transform: uppercase;
    }

    &-subtitle {
      font-size: 1.5rem;
      text-align: center;
    }

    & > .custom-cta-btn {
      position: relative;
      padding: 1em 2em;
      overflow: hidden;
      
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: colors.$cta-hover;
        transition: left 200ms linear, right 200ms linear;
      }

      &::before {
        top: 0;
        left: -100%;
      }

      &::after {
        bottom: 0;
        right: -100%;
      }

      @media (hover: hover) {
        &:hover {
          &::before {
            left: 0;
          }
  
          &::after {
            right: 0;
          }
        }
      }
    }
  }

  &_overlay {
    @include mixins.overlay;
    z-index: -1;
  }

  i.fa-chevron-down {
    padding: .5em;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: colors.$light;
    font-size: 2.6rem;
  }
}