@use "../utils/colors" as colors;

.navbar {
  padding: 1em 0;
  text-transform: uppercase;
  transition: padding 300ms linear;
  
  &-brand,
  &-brand:hover,
  .nav-link,
  .navbar-nav .nav-link.active {
    color: colors.$light;
  }

  .navbar-nav > .nav-item:last-child {
    & > .nav-link {
      padding-bottom: 1.5em;
    }
  }

  &-toggler,
  &-brand {
    padding: 1em;
    font-size: 2rem;
  }

  &-brand {
    font-family: "Primary-semibold";
    font-size: 1.6rem;
  }

  .navbar-nav .nav-link.active {
    color: colors.$lightblue;
  }

  .nav-link {
    padding: .5em 0;
    transition: color 200ms linear;

    &:hover,
    &:focus {
      color: colors.$lightblue;
    }
  }

  &-toggler {
    border: 2px solid transparent;

    &-flex {
      display: flex;
      flex-direction: column;
      gap: 4px      
    }

    &-dash {
      width: 25px;
      height: 3px;
      background-color: colors.$light;
      border-radius: 4px;
    }

    &:focus {
      box-shadow: none;
      border-color: colors.$light;
    }
  }

  &.no-padding {
    padding: 0;
  }
}