@use "../utils/colors" as colors;

.prices {
  &__box {
    margin: 1em 0;
    background-color: colors.$white;
    box-shadow: 4px 4px 4px colors.$overlay;
    transition: transform 200ms ease-in-out;

    &-heading {
      color: colors.$lightblue;
      font-family: "Primary-semibold";
    }

    &-line {
      width: 80%;
      margin: 0 auto 1em;
    }

    &-price {
      font-size: 2.8rem;
      font-family: "Primary-bold";
    }

    & span {
      font-family: "Primary-semibold";
    }

    & > h3 {
      font-size: 2rem;
    }
  
    & i {
      // margin-left: 4px;
      padding: 0 .15em;
      font-size: 2.2rem;
      transform: translateY(2px);
    }

    & > a {
      display: inline-block;
      padding: .5em 1em;
      font-size: 1.6rem;
    }

    @media (hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}