@use "../utils/colors" as colors;

.team {
  position: relative;
  background-image: url("../assets/images/team/background.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;

  .section-title {
    color: colors.$light;
  }

  .overlay {
    z-index: -1;
  }
}

.achievments {
  i {
    font-size: 4.2rem;
    color: colors.$white;
    text-shadow: 0 0 4px colors.$darkbg;
  }

  &__value {
    font-size: 2rem;
    font-family: "Primary-medium";
  }

  &__label {
    text-transform: uppercase;
  }
}